/* Reset some default styles */
body, ul, li, a, img {
    margin: 0;
    padding: 0;
}

/* Style the header (navigation bar) */
header {
    background-color: transparent; /* No background color */
    color: #333; /* Dark text color */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 25px;
}

.left-nav {
    list-style-type: none;
    display: flex;
}

.left-nav li {
    margin-left: 20px;
}

.left-nav li:last-child {
    margin-right: 0; /* Remove margin for the last list item */
}

.left-nav li a {
    text-decoration: none;
    color: #333; /* Dark text color for navigation links */
    font-weight: bold;
}

.logo {
    justify-content: center;
    /*flex: 1; !* Allow the logo to take available space *!*/
    /*text-align: center; !* Center the logo text horizontally *!*/
}

.logo img {
    justify-content: center;
    margin-left: -12rem;
    margin-bottom: 1rem;
}

.login-button a {
    background-color: #5aa4ff; /* Red login button color similar to Zillow */
    color: #333; /* Dark text color for the login button */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the button */
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
}

.login-button a:hover {
    background-color: #316e9f;
}

/* Style the image section */
#house-image {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-basis: 100%;
}

#house-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}

#search-box {
    display:flex;
    justify-content: center;
    padding: 6px;
    border: none;
    margin-top: 18px;
    margin-right: 26px;
}


#search-box input {
    font-size: 25px;
}

/* Advanced search */

.search-form {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.column {
    display:flex;
    flex-direction:column;
    /*justify-content: spac;*/
}


.search-button {
    display:flex;
    justify-content:center;
}

.box {
    background-color: #5f5f5f;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

#search-radius-box {
    display:flex;
    justify-content: center;
}


/* media query */
@media (max-width: 1000px) {
    /* Adjust styles for smaller screens */
    nav {
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        justify-content: center; /* Center navigation items on smaller screens */
        text-align: center;
        margin-left: -1rem;
    }

    .logo img {
        margin-left: 0;
    }

    .login-button a {
        margin-right: 0;
    }

    .search-form {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    .column {
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    /*.column {*/
    /*    display:flex;*/
    /*    justify-content: center;*/
    /*}*/

}
